* {
    border: 1px solid black
    
}
header h1{
    margin: auto;
    border: 2px;
    text-align: center;
    width: 300px;
    float: center;
    
}

nav {
    width: 400px;
}
.nav .top-nav{
    /* text-align: left; */
    display: inline-block;
    /* float: left; */
    width: 300px;
    text-decoration: none;
    margin-right: 10px;

}
.pag-intro{
    text-align: center;
    
    
    
}
.pag-intro img{
    display: inline-block;
    margin-top: 5px;
    height: 350px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 14px #868e96;    
 
}
.pag-intro p{
    text-align: center;
}
.container{
    width: 600px;
    margin: 25px;
    text-align: center;
    float: inline-start;
}
.container h3{
    display: inline-block;
    color: blue;
}
.container li{
    list-style: none;
    text-align: left;
}

.sponsored-container{
    float: center;
    text-align: right;
    display: inline-block;
    height: auto;
    width: 300px;
    margin-right: 5px;
    text-align: center;
}
.sponsored-container h3{
    padding: 3px;

}
.sponsored-container img{
    height: 300px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 14px #868e96;
}

 