* {
    border: 1px solid black;
}
a{
        text-decoration: none;
        color: #333;
    }
/* Top */

    main{
        display: flex;
    }

header h1{
    margin: auto;
    border: 2px;
    text-align: center;
    width: 300px;
    float: center;
    
}

.nav {
   
    display: inline-block;
   
    width: 400px;
    text-decoration: none;
    margin-right: 10px;

}
/* middle */
.container{
    position: end;
    height: 300px;
    width: 600px;
    margin: 25px;
    text-align: center;
    /* float: inline-start; */
    border-radius: 12px;
    box-shadow: 0 0 14px #868e96;
}
.container h3{
    display: inline-block;
    color: blue;
}
.container li{
    list-style: none;
    text-align: left;
    padding: 2px;
    
.pag-intro{
    text-align: center;
    
}
.pag-intro img{
    display: inline-block;
    margin-top: 5px;
    height: 350px;
    width: 400px;
    border-radius: 12px;
    
 
}
.pag-intro p{
    text-align: center;
}
}
.article-list{
    width: 700px;
}
/* This goes by the right side */
.sponsored-container{
    float: right;
    height: auto;
    width: 300px;
    margin-right: 5px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 14px #868e96;
}
.sponsored-container h3{
    padding: 3px;

}
.sponsored-container img{
    height: 300px;
    width: 300px;
    border-radius: 12px;
    
}

/* Bottom */

 .bottom{
    height: 200px;
   
    /* display: inline-block; */
    align-content: flex-end;
    text-decoration: none;
}
.bottom-nav{
    margin: 10px;
    position: absolute;
     left: 0;
     bottom: 0;
 }